
<!--<h1>{{title}}</h1>
<div *ngIf="courses.length >0; then courseList else noCourses">
</div>

<ng-template #courseList>list of courses.</ng-template>

<ng-template #noCourses>
  No courses yet.
</ng-template>

<courses></courses>-->
<!--  <ul class="nav nav-pills">
    <li [class.active]="viewModel == 'map'">
      <a (click)="viewModel='map'">Map View</a>
    </li>
    <li [class.active] = "viewModel == 'list'">
    <a (click)="viewModel='list'">List View
    </a>
    </li>
  </ul>

  <div [ngSwitch]="viewModel">
    <div *ngSwitchCase="'map'"> Map View Content </div>
    <div *ngSwitchCase="'list'"> List View Content</div>
    <div *ngSwitchDefault> default view Content</div>


  </div>
-->
<ul>
<li *ngFor="let course of courses; index as i ">
  {{ i }}-{{course.name}}

</li>
</ul>
